/*

title: additem.html styles
Visual Frameworks Project 2
3.8.2012
by: Harry Lee
for: CSS Selectors

*/
h1 { 
	margin: 20px 60px; 
	border: 1px solid black;
	padding: 10px;

}

h1{
	color: blue;
	
}

label{
	display: block;
}

h2{
	margin: 10px 50px;
	/*border: 1px solid black;*/
	padding: 5px;
	color:  green;
	outline: 1px dotted blue;
	background: #F87A17;
	/*text-align: ;*/
}


}

h3{
	font-style: italic;
}

input{
	color: #F88017;
}

li{
color: #842DCE;
/*display: inline;*/
}

img{
	border: 1px solid black;
}


body{
  background: #6495ED;

}



/*
	margin: ; 
	border: ;
	padding: ;
	outline: ;
	width: ;
	height: ;
	overflow: ;
	visibility: ;
	word-wrap: ;
	background: ;
*/

/*
color: ;
font-style: ;
font-family: ;
font-weight
font: ;
line-height: ;
letter-spacing: ;
text-align: ;
text-indent: ;
text-transform: ;
text-decoration: ;
*/